fieldset {
    margin-bottom: 30px;
}

#loading {
    text-align: center;
    display: none;
}

.jumbotron {
    text-align: center;
}

input[type=checkbox],
input[type=radio] {
    margin-right: 5px;
}

#loading img {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    margin-left: -64px;
}

label {
    cursor: pointer;
    display: block;
}

.size {
    width: 50px;
}

.download {
    display: none;
}